:root {
	--t: #4747b3;
	--s: #0072c6;
	--c: #009a93;
	--p: #000;
	--b: #6d7278;
}
body {
	padding-top: 143px;
}
.scrollBar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera*/
	}
}
body * {
	font-family: "Noto Sans KR", sans-serif;
	box-sizing: border-box;
	color: inherit;
}
a {
	text-decoration: none;
}
input {
	border: none;
	&:focus {
		outline: none;
	}
}
.inner {
	max-width: 1580px;
	margin: 0 auto;
}
.hide {
	display: none;
}
