body * {
	font-family: "Noto Sans KR", sans-serif;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
input {
	border: none;
	&:focus {
		outline: none;
	}
}
.inner {
	max-width: 1580px;
	margin: 0 auto;
}
.hide {
	display: none;
}
