main {
	.mainSliderContainer {
		background-color: rgba(0, 0, 0, 0.03);
		padding: 40px 0 25px;
		overflow: hidden;
		@media (max-width: 1075px) {
			padding: 24px 0;
			background-color: #fff;
		}
		@media (max-width: 767px) {
			padding: 0;
		}
		.swiperContainer {
			max-width: 1194px;
			margin: 0 auto;
			padding: 0 24px;
			position: relative;
			box-sizing: content-box;
			@media (max-width: 767px) {
				padding: 0;
			}
			.swiper {
				width: 100%;
				height: 100%;
				.swiper-slide {
					/* Center slide text vertically */
					display: -webkit-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					-webkit-align-items: center;
					align-items: center;
					.contentWrap {
						display: flex;
						width: 100%;

						@media (max-width: 767px) {
							flex-direction: column;
						}
						.imgWrap {
							width: 67.5%;
							cursor: pointer;
							@media (max-width: 767px) {
								width: 100%;
							}
							img {
								width: 100%;
								height: 100%;
							}
						}
						.textWrap {
							color: #fff;
							background-color: #4747b3;
							width: 32.5%;
							padding: 50px 30px;
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							&.press {
								background-color: #4d4e52;
							}
							@media (max-width: 1075px) {
								padding: 31px 24px;
							}
							@media (max-width: 767px) {
								width: 100%;
								padding: 24px 24px 40px;
							}
							.textContainer {
								.progress {
									line-height: 1.5;
									border-bottom: 1px solid #fff;
									padding-bottom: 14px;
									position: relative;
									margin-bottom: 24px;
									p {
									}
									span.progressBar {
										max-width: 100%;
										overflow: hidden;
										height: 4px;
										background: #fff;
										position: absolute;
										bottom: -5px;
										left: 0;
										@media (max-width: 1075px) {
											height: 3px;
											bottom: -3px;
										}
										@media (max-width: 767px) {
											bottom: 0;
										}
										&.pro-ani {
											animation: progressBar 7s linear;
										}
										@keyframes progressBar {
											0% {
												width: 0;
											}
											100% {
												width: 100%;
											}
										}
									}
								}
								> a {
									h2 {
										font-size: 26px;
										font-weight: 500;
										line-height: 1.46;
										color: #fff;
										margin-bottom: 26px;
										overflow: hidden;
										text-overflow: ellipsis;
										-webkit-line-clamp: 3;
										-webkit-box-orient: vertical;
										display: -webkit-box;
										@media (max-width: 1250px) {
											font-size: 2vw;
											margin-bottom: 1.7vw;
											-webkit-line-clamp: 2;
										}
										@media (max-width: 767px) {
											font-size: 17px;
											-webkit-line-clamp: 2;
											margin-bottom: 22px;
											height: 49px;
										}
									}
								}
								p.subText {
									font-size: 16px;
									line-height: 1.5;
									color: rgba(255, 255, 255, 0.65);
									overflow: hidden;
									text-overflow: ellipsis;
									-webkit-line-clamp: 3;
									-webkit-box-orient: vertical;
									display: -webkit-box;
									@media (max-width: 1250px) {
										font-size: 14px;
										max-height: 65px;
										overflow: hidden;
										-webkit-line-clamp: 2;
									}
									@media (max-width: 767px) {
										margin-bottom: 28px;
									}
								}
							}

							a.btn-detail {
								color: #4747b3;
								display: flex;
								justify-content: center;
								align-items: center;
								width: 136px;
								height: 40px;
								background-color: #f5f5fa;
								font-size: 14px;
								font-weight: 500;
								font-stretch: normal;
								font-style: normal;
								line-height: 1.57;
								letter-spacing: normal;
								text-align: center;
								margin-top: 10px;
								@media (max-width: 767px) {
									width: 100%;
									height: 46px;
									font-size: 14px;
									font-weight: 600;
									line-height: 1.57;
									text-align: center;
									margin-top: 0;
								}
								&.press {
									color: #4d4e52;
								}
								&:hover {
									box-shadow: 1px 2px 13px rgb(0 0 0 / 37%);
									i {
										transform: translateX(4px);
									}
								}
								i {
									color: rgb(176, 177, 181);
									font-size: 20px;
									font-weight: 600;
									margin-right: 8px;
									transition: all 0.7s;
									@media (max-width: 767px) {
										display: none;
									}
								}
							}
						}
					}
				}
			}
			.swiper-button-prev {
				left: -30px;
				width: 40px;
				height: 40px;
				&::before {
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					border-top: 3px solid black;
					border-left: 3px solid black;
					transform: rotate(-45deg);
				}
				&::after {
					display: none;
				}
			}
			.swiper-button-next {
				right: -30px;
				width: 40px;
				height: 40px;

				&::before {
					content: "";
					position: absolute;
					width: 20px;
					height: 20px;
					border-top: 3px solid black;
					border-right: 3px solid black;
					transform: rotate(45deg);
				}
				&::after {
					display: none;
				}
			}
			.swiper-pagination {
				position: static;
				padding-top: 20px;
				.swiper-pagination-bullet {
					background: #666;
					width: 10px;
					height: 10px;
					margin: 0 5px;
					outline: 0;
					border-radius: 5px;
					opacity: 1;
					&:hover {
						background: #000;
					}
				}
				.swiper-pagination-bullet-active {
					background: #000;
				}
			}
		}
	}
	section#mainContent {
		.inner {
			padding-top: 70px;
			padding-bottom: 25px;
			margin-bottom: 70px;
			border-bottom: 1px solid #d0d1d6;
			.menuWrap {
				max-width: 1194px;
				padding: 0 24px;
				box-sizing: content-box;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				@media (max-width: 768px) {
					flex-direction: column-reverse;
					position: relative;
				}
				ul.category {
					display: flex;
					justify-content: space-between;
					gap: 34px;
					@media (max-width: 768px) {
						gap: 0;
					}
					li {
						a {
							font-size: 17px;
							line-height: 1.47;
							color: #000;
							@media (max-width: 768px) {
								font-size: 14px;
							}
						}
						&.active a {
							font-weight: 600;
							color: #1e1e1e;
							position: relative;
							&::after {
								content: "";
								position: absolute;
								top: 46px;
								display: block;
								width: 100%;
								height: 4px;
								background-color: #f60;
							}
						}
					}
				}
				.sort {
					@media (max-width: 768px) {
						position: absolute;
						bottom: -70px;
						right: 30px;
					}
					label {
						display: inline-flex;
						align-items: center;
						font-size: 17px;
						line-height: 1.47;
						margin-left: 30px;
						cursor: pointer;
						input {
							display: none;
						}
						i {
							font-size: 25px;
							margin-right: 12px;
							margin-bottom: 2px;
							&.nonChecked {
								opacity: 0.5;
								display: inline-block;
							}
							&.checked {
								display: none;
							}
						}
						&.active {
							i {
								&.nonChecked {
									display: none;
								}
								&.checked {
									display: inline-block;
								}
							}
						}
					}
				}
			}
		}
		.contentWrap {
			max-width: 1194px;
			padding: 0 24px;
			box-sizing: content-box;
			margin: 0 auto;
			.flexWrap {
				display: flex;
				gap: 30px;
				flex-wrap: wrap;
			}
			.flexWrap-2 {
				display: flex;
				gap: 30px;
				margin-bottom: 50px;
				margin-top: 45px;
				flex-wrap: wrap;
			}
			.firstContent {
				width: calc(50% - 15px);
				@media (max-width: 1023px) {
					width: 100%;
				}
			}
			.secondContent {
				width: calc(50% - 15px);
				@media (max-width: 1023px) {
					width: 100%;
				}
			}
			article {
				.imgWrap {
					position: relative;
					width: 100%;
					padding-top: 55.5%;
					overflow: hidden;
					img {
						position: absolute;
						width: 100%;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						min-height: 100%;
						height: 100%;
						margin: 0 auto;
						transition: all 0.7s;
					}
				}
				.textWrap {
					a {
						p.category {
							display: inline-flex;
							justify-content: center;
							align-items: center;
							font-size: 12px;
							padding: 3px 8px;
							border: 1px solid #eaeaed;
							transition: var(--transition);
							margin-right: 4px;
							&:hover {
								color: #fff;
								background-color: #636363;
								border-color: #636363;
							}
							&.gray {
								color: #636363;
								&:hover {
									color: #fff;
									background-color: #636363;
									border-color: #636363;
								}
							}
							&.navy {
								color: #342e73;
								&:hover {
									color: #fff;
									background-color: #342e73;
									border-color: #342e73;
								}
							}
							&.green {
								color: #00b359;
								&:hover {
									color: #fff;
									background-color: #00b359;
									border-color: #00b359;
								}
							}
							&.blue {
								color: #0072c6;
								&:hover {
									color: #fff;
									background-color: #0072c6;
									border-color: #0072c6;
								}
							}
						}
						h2.title {
							font-size: 20px;
							font-weight: 600;
							line-height: 1.5;
							color: #000;
							overflow: hidden;
							text-overflow: ellipsis;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							display: -webkit-box;
						}
					}
				}
				&:hover {
					img {
						transform: scale(1.07);
					}
				}
			}
			.firstContent {
				article {
					.textWrap {
						padding: 28px 34px 28px;
						background-color: #f8f8f9;
						height: 250px;
						box-sizing: border-box;
						position: relative;
						a {
							p.category {
							}
							h2.title {
								margin: 12px 0 15px;
							}
							p.text {
								height: 72px;
								font-size: 16px;
								line-height: 1.5;
								color: #191f24;
								overflow: hidden;
								text-overflow: ellipsis;
								-webkit-line-clamp: 3;
								-webkit-box-orient: vertical;
								display: -webkit-box;
							}
						}
					}
				}
			}
			.secondContent {
				display: flex;
				gap: 30px;
				flex-wrap: wrap;
				align-content: space-between;
				article {
					width: calc(50% - 15px);
					@media (max-width: 767px) {
						width: 100%;
					}
					.textWrap {
						a {
							p.category {
								margin-top: 19px;
							}
							h2.title {
								height: 48px;
								margin-top: 8px;
								font-size: 16px;
								font-weight: bold;
								line-height: 1.5;
								color: #4d4e52;
								overflow: hidden;
								text-overflow: ellipsis;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								display: -webkit-box;
							}
						}
					}
				}
			}
			.thirdContent {
				display: flex;
				gap: 30px;
				align-content: space-between;
				margin-top: 45px;
				flex-wrap: wrap;
				row-gap: 45px;
				article {
					width: calc(25% - 22.5px);
					@media (max-width: 1023px) {
						width: calc(50% - 15px);
					}
					@media (max-width: 767px) {
						width: 100%;
					}
					.textWrap {
						a {
							p.category {
								margin-top: 19px;
							}
							h2.title {
								height: 48px;
								margin-top: 8px;
								font-size: 16px;
								font-weight: bold;
								line-height: 1.5;
								color: #4d4e52;
								overflow: hidden;
								text-overflow: ellipsis;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								display: -webkit-box;
							}
						}
					}
				}
			}
			.fourthContent {
				width: calc(50% - 15px);
				@media (max-width: 1023px) {
					width: 100%;
					height: 289px;
				}
				article {
					width: 100%;
					height: 100%;
					padding-top: 32px;
					padding-left: 73px;
					position: relative;
					background: center/cover no-repeat
						url(//20028749.fs1.hubspotusercontent-na1.net/hubfs/20028749/C_NewsRoom_kr/Site/Bitmap.jpg);
					@media (max-width: 1023px) {
						padding-top: 48px;
						padding-left: 32px;
					}
					&::after {
						content: "";
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 1;
						background: rgba(71, 71, 179, 0.7);
						transition: var(--transition);
					}
					&:hover {
						&::after {
							background: rgba(71, 71, 179, 0.9);
						}
						a {
							background: #fff;
							color: rgba(71, 71, 179, 0.9);
							svg g {
								fill: rgba(71, 71, 179, 0.9);
							}
						}
					}
					h2 {
						position: absolute;
						font-size: 26px;
						font-weight: 500;
						line-height: 1.38;
						color: #f5f5fa;
						z-index: 3;
					}
					a {
						position: absolute;
						bottom: 34px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 14px;
						line-height: 1.57;
						text-align: center;
						color: #fff;
						width: 153px;
						height: 36px;
						border: solid 1px rgba(255, 255, 255, 0.4);
						z-index: 2;
						i {
							display: block;
							margin-left: 10px;
							width: 16px;
							height: 16px;
						}
					}
				}
			}
			.fifthContent {
				width: calc(50% - 15px);
				display: flex;
				flex-wrap: wrap;
				gap: 30px;
				@media (max-width: 1023px) {
					width: 100%;
				}
				article {
					width: calc(50% - 15px);
					@media (max-width: 767px) {
						width: 100%;
					}
					.textWrap {
						a {
							p.category {
								margin-top: 19px;
							}
							h2.title {
								height: 48px;
								margin-top: 8px;
								font-size: 16px;
								font-weight: bold;
								line-height: 1.5;
								color: #4d4e52;
								overflow: hidden;
								text-overflow: ellipsis;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								display: -webkit-box;
							}
						}
					}
				}
			}
		}
		a.card-more {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 18px;
			font-weight: 600;
			line-height: 1.5;
			text-align: center;
			color: #8f9094;
			width: fit-content;
			height: 49px;
			border: solid 1.5px #eaeaed;
			background-color: #fff;
			margin: 50px auto 100px;
			/* margin-top: 50px; */
			border-radius: 6px;
			padding: 0px 25px 0px 20px;
			&:hover {
				color: #000;
			}
			i {
				margin-left: 12px;
				font-weight: 400;
				opacity: 0.7;
			}
		}
	}
	section#mediaLibrary {
		background: #f6f6f6;
		max-height: 142px;
		@media (max-width: 767px) {
			max-height: none;
		}
		.inner {
			margin: 0 auto;
			max-width: 1194px;
			padding: 0 24px;
			display: flex;
			justify-content: space-between;
			box-sizing: content-box;
			@media (max-width: 767px) {
				flex-direction: column;
				align-items: center;
				height: auto;

				max-height: 394px;
				position: relative;
				padding: 30px 24px;
			}
			h2 {
				display: flex;
				align-items: center;
				color: #4d4e52;
				font-size: 24px;
				font-weight: 700;
				letter-spacing: -0.34px;
				line-height: 1.5;
				padding: 35px 0;
				max-width: 420px;
				@media (max-width: 767px) {
					max-width: 100%;
				}
			}
			.imgWrap {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				img {
					max-width: 180px;
					width: 45%;
					position: static;
				}
				h3 {
					color: #4d4e52;
					font-size: 16px;
					font-weight: 700;
					line-height: 1.5;
					margin: 0 0 0 9px;
					i {
						opacity: 0.5;
						margin-left: 12px;
					}
				}
			}
		}
	}
	section#subscribe {
		padding: 70px 0;
		.inner {
			margin: 0 auto;
			max-width: 1194px;
			padding: 0 24px;
			box-sizing: content-box;
			.subscribeTop {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				border-bottom: 1px solid #8f9094;
				padding-bottom: 40px;
				@media (max-width: 1023px) {
					border-bottom: 0;
				}
				@media (max-width: 767px) {
					flex-direction: column;
				}
				h2 {
					font-size: 24px;
					font-weight: 600;
					color: #4d4e52;
					line-height: 1.5;
					@media (max-width: 767px) {
						align-self: flex-start;
						margin-bottom: 34px;
					}
				}
				a {
					align-items: center;
					background-color: #fff;
					border: 1px solid rgba(0, 0, 0, 0.3);
					color: rgba(0, 0, 0, 0.6);
					display: flex;
					font-size: 14px;
					font-stretch: normal;
					font-style: normal;
					font-weight: 600;
					height: 36px;
					justify-content: center;
					letter-spacing: normal;
					line-height: 1.57;
					text-align: center;
					text-decoration: none;
					width: 135px;
				}
			}
			.contentWrap {
				display: flex;
				justify-content: space-between;
				@media (max-width: 1023px) {
					flex-direction: column-reverse;
				}
				.textWrap {
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					max-width: 535px;
					padding-right: 25px;
					width: 50%;
					@media (max-width: 1023px) {
						width: 100%;
						padding-right: 0;
						max-width: unset;
					}
					h3 {
						font-size: 16px;
						font-weight: 400;
						margin-bottom: 50px;
						margin-top: 45px;
						color: #4d4e52;
						line-height: 1.5;
					}
					form {
						display: flex;
						@media (max-width: 1023px) {
							max-width: 610px;
						}
						@media (max-width: 767px) {
							flex-wrap: wrap;
						}
						input {
							background-color: #68696e;
							border: 0;
							border-radius: 0;
							color: #fff;
							flex: 1 0 120px;
							font-size: 14px;
							height: 36px;
							line-height: 1.57;
							max-width: 276px;
							padding: 6px 9px 8px 11px;
							width: 100%;
							margin-right: 8px;
							@media (max-width: 767px) {
								max-width: 100%;
								width: 100%;
								flex: auto;
								margin-bottom: 6px;
								margin-right: 0;
							}
							&::placeholder {
								color: #b0b1b5;
							}
							&.submit {
								display: inline-block;
								width: 110px;
								height: 36px;
								background-color: #4d4e52;
								padding: 0 25px;
								cursor: pointer;
								font-size: 14px;
								font-weight: 600;
								line-height: 1.57;
								flex: 0;
								@media (max-width: 767px) {
									max-width: 100%;
									width: 100%;
									flex: auto;
									margin-bottom: 6px;
									margin-right: 0;
								}
							}
						}
					}
					p {
						color: #b0b1b5;
						font-size: 14px;
						font-weight: 400;
						line-height: 1.57;
						margin-top: 14px;
						max-width: 500px;
						a {
							text-decoration: underline;
						}
					}
				}
				.imgWrap {
					width: 50%;
					position: relative;
					overflow: hidden;
					@media (max-width: 1023px) {
						height: calc(53vw - 48px);
						width: 100%;
					}
					@media (max-width: 768px) {
						min-height: 297px;
					}
					img {
						position: absolute;
						left: 50%;
						top: 50%;
						width: 100%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}
	.topButton {
		text-align: center;
		margin: 60px 0;
		a {
			display: block;
			width: 80px;
			height: 80px;
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			&:hover {
				i {
					transform: translateY(-10px);
				}
			}
			i {
				font-size: 45px;
				color: rgba(0, 0, 0, 0.85);
				transition: all 0.7s;
			}
		}
	}
}
