:root {
  --t: #4747b3;
  --s: #0072c6;
  --c: #009a93;
  --p: #000;
  --b: #6d7278;
  --transition: all 0.7s;
}

body {
  padding-top: 140px;
}

.scrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollBar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body * {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  color: inherit;
}

a {
  text-decoration: none;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

.inner {
  max-width: 1580px;
  margin: 0 auto;
}

.hide {
  display: none;
}

header {
  text-align: center;
  background: #fff;
  border-bottom: 1px solid rgba(208, 209, 214, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.2s ease-in-out;
  z-index: 9999999999;
}
@media (min-width: 1024px) {
  header.scroll {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09);
  }
}
header .pcTopBanner {
  margin-top: 10px;
  height: 55px;
}
header .pcTopBanner img {
  max-width: 701px;
}
@media (max-width: 767px) {
  header .pcTopBanner {
    display: none;
  }
}
header .mobileTopBanner img {
  max-width: 356px;
}
@media (max-width: 767px) {
  header .mobileTopBanner {
    display: block;
  }
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 77px;
  padding: 0 24px;
}
header .inner h1.logo {
  width: 56vw;
  max-width: 213px;
  margin-bottom: 10px;
}
header .inner h1.logo a {
  display: block;
}
header .inner h1.logo a img {
  width: 100%;
}
header .inner nav {
  width: 35%;
  min-width: 460px;
  margin-left: calc(5% - 26px);
  height: 77px;
}
header .inner nav ul.gnbMenu {
  display: flex;
  height: 100%;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}
header .inner nav ul.gnbMenu li {
  flex: 1 0 auto;
}
header .inner nav ul.gnbMenu li:nth-of-type(4) {
  border-left: 1px solid #b0b1b5;
}
header .inner nav ul.gnbMenu li a {
  color: #1e1e1e;
  display: block;
}
header .inner nav ul.gnbMenu li:hover {
  font-weight: bold;
}
header .inner nav .gnbSubMenuWrap {
  display: none;
  position: absolute;
  left: 0;
  top: 132px;
  right: 0;
  width: 100vw;
  height: 286px;
  background: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 99;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
header .inner nav .gnbSubMenuWrap .innerWrap {
  margin: 0 auto;
  max-width: 1580px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer {
  width: 80%;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu {
  display: flex;
  height: 100%;
  -moz-text-align-last: left;
       text-align-last: left;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 35px;
  padding-left: 20px;
  width: 16.7%;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li > a {
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  margin-bottom: 19px;
  text-decoration: none;
  display: block;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li > a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li:nth-of-type(1) > a {
  color: var(--t);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li:nth-of-type(2) > a {
  color: var(--s);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li:nth-of-type(3) > a {
  color: var(--c);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li:nth-of-type(4) > a {
  color: var(--p);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li:nth-of-type(5) > a {
  color: var(--b);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li ul.subMenu li a {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.12;
  letter-spacing: normal;
  color: #757575;
  text-decoration: none;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubMenuContainer ul.gnbSubMenu > li ul.subMenu li a:hover {
  color: #000;
  text-decoration: underline;
  text-underline-position: under;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap .gnbSubBanner a {
  display: block;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap .gnbSubBanner a .imgContainer {
  width: 253px;
  height: 148px;
  overflow: hidden;
  margin-right: 40px;
  background: red;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap .gnbSubBanner a .imgContainer img {
  width: 100%;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap ul.gnbSnsMenu {
  display: flex;
  width: 100%;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap ul.gnbSnsMenu li a i {
  display: block;
  background-position: center;
  background-size: 183%;
  width: 39px;
  height: 39px;
  margin-bottom: -5px;
  margin-left: 8px;
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap ul.gnbSnsMenu li a i.sns-f {
  background-image: url(//20028749.fs1.hubspotusercontent-na1.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/group-5.svg);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap ul.gnbSnsMenu li a i.sns-u {
  background-image: url(//20028749.fs1.hubspotusercontent-na1.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/group-4.svg);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap ul.gnbSnsMenu li a i.sns-i {
  background-image: url(//20028749.fs1.hubspotusercontent-na1.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/group-3.svg);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap ul.gnbSnsMenu li a i.sns-g {
  background-image: url(//20028749.fs1.hubspotusercontent-na1.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/group-2O2x.jpg);
}
header .inner nav .gnbSubMenuWrap .innerWrap .gnbSubBannerWrap ul.gnbSnsMenu li a i.sns-ch {
  background-image: url(//20028749.fs1.hubspotusercontent-na1.net/hubfs/20028749/raw_assets/public/hynixNewsRoom/codeFiles/images/defaultImage/groupO2x.jpg);
}
header .inner nav:hover .gnbSubMenuWrap {
  display: block;
}
@media (max-width: 1023px) {
  header .inner nav {
    display: none;
  }
}
header .inner .rightUtil {
  width: 25%;
  min-width: 246px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
header .inner .rightUtil .searchWrap {
  width: 100%;
  position: relative;
  height: 44px;
}
header .inner .rightUtil .searchWrap input {
  width: 100%;
  height: 46px;
  padding-bottom: 10px;
  padding-right: 32px;
  border-bottom: 2px solid #2f3034;
}
header .inner .rightUtil .searchWrap input::-moz-placeholder {
  color: #8f9094;
  font-size: 16px;
  font-weight: 300;
}
header .inner .rightUtil .searchWrap input:-ms-input-placeholder {
  color: #8f9094;
  font-size: 16px;
  font-weight: 300;
}
header .inner .rightUtil .searchWrap input::placeholder {
  color: #8f9094;
  font-size: 16px;
  font-weight: 300;
}
@media (max-width: 1023px) {
  header .inner .rightUtil .searchWrap input {
    display: none;
  }
}
header .inner .rightUtil .searchWrap i {
  position: absolute;
  width: 32px;
  right: 0;
  top: -1px;
}
header .inner .rightUtil .lang {
  width: 32px;
  position: relative;
  margin-left: 16px;
  margin-top: -2px;
  cursor: pointer;
}
header .inner .rightUtil .lang ul {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
}
header .inner .rightUtil .lang ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 39px;
  border: solid 1px #dedede;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.71;
  color: #8f9094;
}
header .inner .rightUtil .lang ul li a:hover {
  color: #000;
  font-weight: 600;
}
header .inner .rightUtil .lang ul li.active a {
  color: #000;
  font-weight: 600;
}
header .inner .rightUtil .moGnbMenu a.ham {
  display: none;
  align-items: center;
  width: 25px;
  height: 30px;
  margin-left: 16px;
  font-size: 0;
}
@media (max-width: 1023px) {
  header .inner .rightUtil .moGnbMenu a.ham {
    display: flex;
  }
}
header .inner .rightUtil .moGnbMenu a.ham span {
  position: relative;
  display: block;
  width: 25px;
  height: 2px;
  background-color: #000;
  transition: all 0.2s;
}
header .inner .rightUtil .moGnbMenu a.ham span::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000;
  transition: all 0.5s;
}
header .inner .rightUtil .moGnbMenu a.ham span::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #000;
  transition: all 0.5s;
}
header .inner .rightUtil .moGnbMenu a.ham.active span {
  width: 0;
}
header .inner .rightUtil .moGnbMenu a.ham.active span::before {
  top: 0;
  transform: rotate(45deg);
}
header .inner .rightUtil .moGnbMenu a.ham.active span::after {
  top: 0;
  transform: rotate(-45deg);
}
header .inner .rightUtil .moGnbMenu ul.moGnb {
  position: fixed;
  left: 0;
  top: 143px;
  width: 100%;
  height: calc(100vh - 143px);
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.85);
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.25);
  position: relative;
  padding: 18px 24px;
  opacity: 0.7;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  -moz-text-align-last: left;
       text-align-last: left;
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li i {
  position: absolute;
  top: 20.5px;
  right: 24px;
  color: #fff;
  opacity: 0.7;
  font-weight: 300;
  font-size: 32px;
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li span {
  position: absolute;
  right: 24px;
  top: 18px;
  width: 36px;
  height: 36px;
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 20px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li span.active::after {
  transform: translate(-50%, -50%);
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li a {
  display: block;
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li ul {
  padding-top: 18px;
}
header .inner .rightUtil .moGnbMenu ul.moGnb > li ul li a {
  padding: 0 24px;
  margin-left: 6px;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.2;
  color: #fff;
}

main .mainSliderContainer {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 40px 0 25px;
  overflow: hidden;
}
@media (max-width: 1075px) {
  main .mainSliderContainer {
    padding: 24px 0;
    background-color: #fff;
  }
}
@media (max-width: 767px) {
  main .mainSliderContainer {
    padding: 0;
  }
}
main .mainSliderContainer .swiperContainer {
  max-width: 1194px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative;
  box-sizing: content-box;
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer {
    padding: 0;
  }
}
main .mainSliderContainer .swiperContainer .swiper {
  width: 100%;
  height: 100%;
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap {
  display: flex;
  width: 100%;
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap {
    flex-direction: column;
  }
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .imgWrap {
  width: 67.5%;
  cursor: pointer;
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .imgWrap {
    width: 100%;
  }
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .imgWrap img {
  width: 100%;
  height: 100%;
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap {
  color: #fff;
  background-color: #4747b3;
  width: 32.5%;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap.press {
  background-color: #4d4e52;
}
@media (max-width: 1075px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap {
    padding: 31px 24px;
  }
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap {
    width: 100%;
    padding: 24px 24px 40px;
  }
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer .progress {
  line-height: 1.5;
  border-bottom: 1px solid #fff;
  padding-bottom: 14px;
  position: relative;
  margin-bottom: 24px;
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer .progress span.progressBar {
  max-width: 100%;
  overflow: hidden;
  height: 4px;
  background: #fff;
  position: absolute;
  bottom: -5px;
  left: 0;
}
@media (max-width: 1075px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer .progress span.progressBar {
    height: 3px;
    bottom: -3px;
  }
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer .progress span.progressBar {
    bottom: 0;
  }
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer .progress span.progressBar.pro-ani {
  -webkit-animation: progressBar 7s linear;
          animation: progressBar 7s linear;
}
@-webkit-keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer > a h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.46;
  color: #fff;
  margin-bottom: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
@media (max-width: 1250px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer > a h2 {
    font-size: 2vw;
    margin-bottom: 1.7vw;
    -webkit-line-clamp: 2;
  }
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer > a h2 {
    font-size: 17px;
    -webkit-line-clamp: 2;
    margin-bottom: 22px;
    height: 49px;
  }
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer p.subText {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.65);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
@media (max-width: 1250px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer p.subText {
    font-size: 14px;
    max-height: 65px;
    overflow: hidden;
    -webkit-line-clamp: 2;
  }
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap .textContainer p.subText {
    margin-bottom: 28px;
  }
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap a.btn-detail {
  color: #4747b3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 40px;
  background-color: #f5f5fa;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap a.btn-detail {
    width: 100%;
    height: 46px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    text-align: center;
    margin-top: 0;
  }
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap a.btn-detail.press {
  color: #4d4e52;
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap a.btn-detail:hover {
  box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.37);
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap a.btn-detail:hover i {
  transform: translateX(4px);
}
main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap a.btn-detail i {
  color: rgb(176, 177, 181);
  font-size: 20px;
  font-weight: 600;
  margin-right: 8px;
  transition: all 0.7s;
}
@media (max-width: 767px) {
  main .mainSliderContainer .swiperContainer .swiper .swiper-slide .contentWrap .textWrap a.btn-detail i {
    display: none;
  }
}
main .mainSliderContainer .swiperContainer .swiper-button-prev {
  left: -30px;
  width: 40px;
  height: 40px;
}
main .mainSliderContainer .swiperContainer .swiper-button-prev::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(-45deg);
}
main .mainSliderContainer .swiperContainer .swiper-button-prev::after {
  display: none;
}
main .mainSliderContainer .swiperContainer .swiper-button-next {
  right: -30px;
  width: 40px;
  height: 40px;
}
main .mainSliderContainer .swiperContainer .swiper-button-next::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
}
main .mainSliderContainer .swiperContainer .swiper-button-next::after {
  display: none;
}
main .mainSliderContainer .swiperContainer .swiper-pagination {
  position: static;
  padding-top: 20px;
}
main .mainSliderContainer .swiperContainer .swiper-pagination .swiper-pagination-bullet {
  background: #666;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
  opacity: 1;
}
main .mainSliderContainer .swiperContainer .swiper-pagination .swiper-pagination-bullet:hover {
  background: #000;
}
main .mainSliderContainer .swiperContainer .swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}
main section#mainContent .inner {
  padding-top: 70px;
  padding-bottom: 25px;
  margin-bottom: 70px;
  border-bottom: 1px solid #d0d1d6;
}
main section#mainContent .inner .menuWrap {
  max-width: 1194px;
  padding: 0 24px;
  box-sizing: content-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  main section#mainContent .inner .menuWrap {
    flex-direction: column-reverse;
    position: relative;
  }
}
main section#mainContent .inner .menuWrap ul.category {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}
@media (max-width: 768px) {
  main section#mainContent .inner .menuWrap ul.category {
    gap: 0;
  }
}
main section#mainContent .inner .menuWrap ul.category li a {
  font-size: 17px;
  line-height: 1.47;
  color: #000;
}
@media (max-width: 768px) {
  main section#mainContent .inner .menuWrap ul.category li a {
    font-size: 14px;
  }
}
main section#mainContent .inner .menuWrap ul.category li.active a {
  font-weight: 600;
  color: #1e1e1e;
  position: relative;
}
main section#mainContent .inner .menuWrap ul.category li.active a::after {
  content: "";
  position: absolute;
  top: 46px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #f60;
}
@media (max-width: 768px) {
  main section#mainContent .inner .menuWrap .sort {
    position: absolute;
    bottom: -70px;
    right: 30px;
  }
}
main section#mainContent .inner .menuWrap .sort label {
  display: inline-flex;
  align-items: center;
  font-size: 17px;
  line-height: 1.47;
  margin-left: 30px;
  cursor: pointer;
}
main section#mainContent .inner .menuWrap .sort label input {
  display: none;
}
main section#mainContent .inner .menuWrap .sort label i {
  font-size: 25px;
  margin-right: 12px;
  margin-bottom: 2px;
}
main section#mainContent .inner .menuWrap .sort label i.nonChecked {
  opacity: 0.5;
  display: inline-block;
}
main section#mainContent .inner .menuWrap .sort label i.checked {
  display: none;
}
main section#mainContent .inner .menuWrap .sort label.active i.nonChecked {
  display: none;
}
main section#mainContent .inner .menuWrap .sort label.active i.checked {
  display: inline-block;
}
main section#mainContent .contentWrap {
  max-width: 1194px;
  padding: 0 24px;
  box-sizing: content-box;
  margin: 0 auto;
}
main section#mainContent .contentWrap .flexWrap {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
main section#mainContent .contentWrap .flexWrap-2 {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 45px;
  flex-wrap: wrap;
}
main section#mainContent .contentWrap .firstContent {
  width: calc(50% - 15px);
}
@media (max-width: 1023px) {
  main section#mainContent .contentWrap .firstContent {
    width: 100%;
  }
}
main section#mainContent .contentWrap .secondContent {
  width: calc(50% - 15px);
}
@media (max-width: 1023px) {
  main section#mainContent .contentWrap .secondContent {
    width: 100%;
  }
}
main section#mainContent .contentWrap article .imgWrap {
  position: relative;
  width: 100%;
  padding-top: 55.5%;
  overflow: hidden;
}
main section#mainContent .contentWrap article .imgWrap img {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all 0.7s;
}
main section#mainContent .contentWrap article .textWrap a p.category {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 3px 8px;
  border: 1px solid #eaeaed;
  transition: var(--transition);
  margin-right: 4px;
}
main section#mainContent .contentWrap article .textWrap a p.category:hover {
  color: #fff;
  background-color: #636363;
  border-color: #636363;
}
main section#mainContent .contentWrap article .textWrap a p.category.gray {
  color: #636363;
}
main section#mainContent .contentWrap article .textWrap a p.category.gray:hover {
  color: #fff;
  background-color: #636363;
  border-color: #636363;
}
main section#mainContent .contentWrap article .textWrap a p.category.navy {
  color: #342e73;
}
main section#mainContent .contentWrap article .textWrap a p.category.navy:hover {
  color: #fff;
  background-color: #342e73;
  border-color: #342e73;
}
main section#mainContent .contentWrap article .textWrap a p.category.green {
  color: #00b359;
}
main section#mainContent .contentWrap article .textWrap a p.category.green:hover {
  color: #fff;
  background-color: #00b359;
  border-color: #00b359;
}
main section#mainContent .contentWrap article .textWrap a p.category.blue {
  color: #0072c6;
}
main section#mainContent .contentWrap article .textWrap a p.category.blue:hover {
  color: #fff;
  background-color: #0072c6;
  border-color: #0072c6;
}
main section#mainContent .contentWrap article .textWrap a h2.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
main section#mainContent .contentWrap article:hover img {
  transform: scale(1.07);
}
main section#mainContent .contentWrap .firstContent article .textWrap {
  padding: 28px 34px 28px;
  background-color: #f8f8f9;
  height: 250px;
  box-sizing: border-box;
  position: relative;
}
main section#mainContent .contentWrap .firstContent article .textWrap a h2.title {
  margin: 12px 0 15px;
}
main section#mainContent .contentWrap .firstContent article .textWrap a p.text {
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  color: #191f24;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
main section#mainContent .contentWrap .secondContent {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-content: space-between;
}
main section#mainContent .contentWrap .secondContent article {
  width: calc(50% - 15px);
}
@media (max-width: 767px) {
  main section#mainContent .contentWrap .secondContent article {
    width: 100%;
  }
}
main section#mainContent .contentWrap .secondContent article .textWrap a p.category {
  margin-top: 19px;
}
main section#mainContent .contentWrap .secondContent article .textWrap a h2.title {
  height: 48px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #4d4e52;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
main section#mainContent .contentWrap .thirdContent {
  display: flex;
  gap: 30px;
  align-content: space-between;
  margin-top: 45px;
  flex-wrap: wrap;
  row-gap: 45px;
}
main section#mainContent .contentWrap .thirdContent article {
  width: calc(25% - 22.5px);
}
@media (max-width: 1023px) {
  main section#mainContent .contentWrap .thirdContent article {
    width: calc(50% - 15px);
  }
}
@media (max-width: 767px) {
  main section#mainContent .contentWrap .thirdContent article {
    width: 100%;
  }
}
main section#mainContent .contentWrap .thirdContent article .textWrap a p.category {
  margin-top: 19px;
}
main section#mainContent .contentWrap .thirdContent article .textWrap a h2.title {
  height: 48px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #4d4e52;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
main section#mainContent .contentWrap .fourthContent {
  width: calc(50% - 15px);
}
@media (max-width: 1023px) {
  main section#mainContent .contentWrap .fourthContent {
    width: 100%;
    height: 289px;
  }
}
main section#mainContent .contentWrap .fourthContent article {
  width: 100%;
  height: 100%;
  padding-top: 32px;
  padding-left: 73px;
  position: relative;
  background: center/cover no-repeat url(//20028749.fs1.hubspotusercontent-na1.net/hubfs/20028749/C_NewsRoom_kr/Site/Bitmap.jpg);
}
@media (max-width: 1023px) {
  main section#mainContent .contentWrap .fourthContent article {
    padding-top: 48px;
    padding-left: 32px;
  }
}
main section#mainContent .contentWrap .fourthContent article::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(71, 71, 179, 0.7);
  transition: var(--transition);
}
main section#mainContent .contentWrap .fourthContent article:hover::after {
  background: rgba(71, 71, 179, 0.9);
}
main section#mainContent .contentWrap .fourthContent article:hover a {
  background: #fff;
  color: rgba(71, 71, 179, 0.9);
}
main section#mainContent .contentWrap .fourthContent article:hover a svg g {
  fill: rgba(71, 71, 179, 0.9);
}
main section#mainContent .contentWrap .fourthContent article h2 {
  position: absolute;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.38;
  color: #f5f5fa;
  z-index: 3;
}
main section#mainContent .contentWrap .fourthContent article a {
  position: absolute;
  bottom: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #fff;
  width: 153px;
  height: 36px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  z-index: 2;
}
main section#mainContent .contentWrap .fourthContent article a i {
  display: block;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}
main section#mainContent .contentWrap .fifthContent {
  width: calc(50% - 15px);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1023px) {
  main section#mainContent .contentWrap .fifthContent {
    width: 100%;
  }
}
main section#mainContent .contentWrap .fifthContent article {
  width: calc(50% - 15px);
}
@media (max-width: 767px) {
  main section#mainContent .contentWrap .fifthContent article {
    width: 100%;
  }
}
main section#mainContent .contentWrap .fifthContent article .textWrap a p.category {
  margin-top: 19px;
}
main section#mainContent .contentWrap .fifthContent article .textWrap a h2.title {
  height: 48px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #4d4e52;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
main section#mainContent a.card-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #8f9094;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 49px;
  border: solid 1.5px #eaeaed;
  background-color: #fff;
  margin: 50px auto 100px;
  /* margin-top: 50px; */
  border-radius: 6px;
  padding: 0px 25px 0px 20px;
}
main section#mainContent a.card-more:hover {
  color: #000;
}
main section#mainContent a.card-more i {
  margin-left: 12px;
  font-weight: 400;
  opacity: 0.7;
}
main section#mediaLibrary {
  background: #f6f6f6;
  max-height: 142px;
}
@media (max-width: 767px) {
  main section#mediaLibrary {
    max-height: none;
  }
}
main section#mediaLibrary .inner {
  margin: 0 auto;
  max-width: 1194px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}
@media (max-width: 767px) {
  main section#mediaLibrary .inner {
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 394px;
    position: relative;
    padding: 30px 24px;
  }
}
main section#mediaLibrary .inner h2 {
  display: flex;
  align-items: center;
  color: #4d4e52;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.34px;
  line-height: 1.5;
  padding: 35px 0;
  max-width: 420px;
}
@media (max-width: 767px) {
  main section#mediaLibrary .inner h2 {
    max-width: 100%;
  }
}
main section#mediaLibrary .inner .imgWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
main section#mediaLibrary .inner .imgWrap img {
  max-width: 180px;
  width: 45%;
  position: static;
}
main section#mediaLibrary .inner .imgWrap h3 {
  color: #4d4e52;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0 0 0 9px;
}
main section#mediaLibrary .inner .imgWrap h3 i {
  opacity: 0.5;
  margin-left: 12px;
}

footer {
  padding: 200px;
}